In [35]:
import pandas as pd
from pandas.core.frame import DataFrame

In [73]:
file1 = "C02003_detailedRace_censusTract.xlsx"
file2 = "C02003_detailedRace_state.xlsx"

xl = pd.ExcelFile(file1)
x2 = pd.ExcelFile(file2)
race1 = xl.parse('MA')
race_state1 = x2.parse('MA')

In [50]:
race2 = race1.loc[:,['GEO.id','GEO.id2','GEO.display-label','HD01_VD01','HD01_VD03']]

race2.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD03
0,Id,Id2,Geography,Estimate; Total:,Estimate; Population of one race: - White
1,1400000US25001010100,25001010100,"Census Tract 101, Barnstable County, Massachus...",2962,2517
2,1400000US25001010206,25001010206,"Census Tract 102.06, Barnstable County, Massac...",3168,2940
3,1400000US25001010208,25001010208,"Census Tract 102.08, Barnstable County, Massac...",1589,1563
4,1400000US25001010304,25001010304,"Census Tract 103.04, Barnstable County, Massac...",2107,2072

In [55]:
white = [0 for n in range(race2.shape[0])]
all_other = [0 for n in range(race2.shape[0])]
i = 0

for (ittt, row) in race2.iterrows():
    if(type(row['HD01_VD01'])!=int):
        white[i] = "Percentage of White"
        all_other[i] = "Percentage of All Other Races"
        i = i + 1
    else:
        if(row['HD01_VD01']!=0):
            white[i] = round((row['HD01_VD03'] / row['HD01_VD01'])*100,2)
            all_other[i] = 100 - white[i]
            i = i + 1
        else:
            white[i] = 0
            all_other[i] = 0
            i = i + 1

In [63]:
PoW = {"PoW": white}
data1=DataFrame(PoW)
PoAOR = {"PoAOR": all_other}
data2=DataFrame(PoAOR)
data2.head()

                           PoAOR
0  Percentage of All Other Races
1                          15.02
2                            7.2
3                           1.64
4                           1.66

In [67]:
race2['PoW'] = data1
race2['PoAOR'] = data2

race3 = race2.loc[:,['GEO.id','GEO.id2','GEO.display-label','PoW','PoAOR']]

race3.head()

,GEO.id,GEO.id2,GEO.display-label,PoW,PoAOR
0,Id,Id2,Geography,Percentage of White,Percentage of All Other Races
1,1400000US25001010100,25001010100,"Census Tract 101, Barnstable County, Massachus...",84.98,15.02
2,1400000US25001010206,25001010206,"Census Tract 102.06, Barnstable County, Massac...",92.8,7.2
3,1400000US25001010208,25001010208,"Census Tract 102.08, Barnstable County, Massac...",98.36,1.64
4,1400000US25001010304,25001010304,"Census Tract 103.04, Barnstable County, Massac...",98.34,1.66

In [80]:
white_percentage_state = round((race_state1["HD01_VD03"][1] / race_state1["HD01_VD01"][1])*100,2)
white_percentage_state

79.26

In [86]:
flag = [0 for n in range(race3.shape[0])]
i = 0

for (ittt, row) in race3.iterrows():
    if(type(row['PoW'])!=float):
        flag[i] = "flag"
        i = i + 1
    else:
        if(row['PoW']>white_percentage_state):
            flag[i] = "White"
            i = i + 1
        else:
            flag[i] = "All Other Races"
            i = i + 1

In [87]:
Flag = {"Flag": flag,}
data3=DataFrame(Flag)
data3.head()

    Flag
0   flag
1  White
2  White
3  White
4  White

In [89]:
race3['Flag'] = data3

In [90]:
race3.to_csv("test.csv",index=False,sep=',')