In [1]:
import pandas as pd
from pandas.core.frame import DataFrame

In [10]:
file1 = "B03002_ethnicity_censusTract.xlsx"
file2 = "B03002_ethnicity_state.xlsx"

xl = pd.ExcelFile(file1)
x2 = pd.ExcelFile(file2)
ethnicity1 = xl.parse('MA')
ethnicity_state1 = x2.parse('MA')

In [4]:
ethnicity2 = ethnicity1.loc[:,['GEO.id','GEO.id2','GEO.display-label','HD01_VD01','HD01_VD02']]

ethnicity2.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD02
0,Id,Id2,Geography,Estimate; Total:,Estimate; Not Hispanic or Latino:
1,1400000US25001010100,25001010100,"Census Tract 101, Barnstable County, Massachus...",2962,2798
2,1400000US25001010206,25001010206,"Census Tract 102.06, Barnstable County, Massac...",3168,3158
3,1400000US25001010208,25001010208,"Census Tract 102.08, Barnstable County, Massac...",1589,1559
4,1400000US25001010304,25001010304,"Census Tract 103.04, Barnstable County, Massac...",2107,2084

In [7]:
not_hispanic = [0 for n in range(ethnicity2.shape[0])]
hispanic = [0 for n in range(ethnicity2.shape[0])]
i = 0

for (ittt, row) in ethnicity2.iterrows():
    if(type(row['HD01_VD01'])!=int):
        not_hispanic[i] = "Percentage of Not Hispanic"
        hispanic[i] = "Percentage of Hispanic"
        i = i + 1
    else:
        if(row['HD01_VD01']!=0):
            not_hispanic[i] = round((row['HD01_VD02'] / row['HD01_VD01'])*100,2)
            hispanic[i] = 100 - not_hispanic[i]
            i = i + 1
        else:
            not_hispanic[i] = 0
            hispanic[i] = 0
            i = i + 1

In [8]:
PoNH = {"PoNH": not_hispanic}
data1=DataFrame(PoNH)
PoH = {"PoH": hispanic}
data2=DataFrame(PoH)
data2.head()

                      PoH
0  Percentage of Hispanic
1                    5.54
2                    0.32
3                    1.89
4                    1.09

In [9]:
ethnicity2['PoNH'] = data1
ethnicity2['PoH'] = data2

ethnicity3 = ethnicity2.loc[:,['GEO.id','GEO.id2','GEO.display-label','PoNH','PoH']]

ethnicity3.head()

,GEO.id,GEO.id2,GEO.display-label,PoNH,PoH
0,Id,Id2,Geography,Percentage of Not Hispanic,Percentage of Hispanic
1,1400000US25001010100,25001010100,"Census Tract 101, Barnstable County, Massachus...",94.46,5.54
2,1400000US25001010206,25001010206,"Census Tract 102.06, Barnstable County, Massac...",99.68,0.32
3,1400000US25001010208,25001010208,"Census Tract 102.08, Barnstable County, Massac...",98.11,1.89
4,1400000US25001010304,25001010304,"Census Tract 103.04, Barnstable County, Massac...",98.91,1.09

In [11]:
not_hispanic_percentage_state = round((ethnicity_state1["HD01_VD02"][1] / ethnicity_state1["HD01_VD01"][1])*100,2)
not_hispanic_percentage_state

89.15

In [12]:
flag = [0 for n in range(ethnicity3.shape[0])]
i = 0

for (ittt, row) in ethnicity3.iterrows():
    if(type(row['PoNH'])!=float):
        flag[i] = "flag"
        i = i + 1
    else:
        if(row['PoNH']>not_hispanic_percentage_state):
            flag[i] = "Not Hispanic"
            i = i + 1
        else:
            flag[i] = "Hispanic"
            i = i + 1

In [13]:
Flag = {"Flag": flag,}
data3=DataFrame(Flag)
data3.head()

           Flag
0          flag
1  Not Hispanic
2  Not Hispanic
3  Not Hispanic
4  Not Hispanic

In [15]:
ethnicity3['Flag'] = data3
ethnicity3.head()

In [ ]:
ethnicity3.to_csv("test.csv",index=False,sep=',')